button{ 
    background-color:rgb(0, 128, 255);
    color:white;
    height: 50px;
}
body{
    background-color: #adff2f;
}
.flex-container{
    flex-direction: row;
    display: flex;
}
.item{
    height: 150px;
    flex: 1 1 auto;
    flex: 1;
    margin: 125px;
}
h1{
    text-align: center;
}