button{ 
    background-color:rgb(0, 128, 255);
    color:white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}
body{
    background-color: #adff2f;
}
.flex-container{
    flex-direction: row;
    display: flex;
}
.item{
    height: 150px;
    flex: 1 1 auto;
    flex: 1;
    margin: 75px;
}
h1{
    text-align: center;
}
#item0 {
    text-align: center;
    font-size: 30px;

}
#item1 {
    text-align: center;
    font-size: 20px;
}
#item2 {
    text-align: center;
    font-size: 20px;
}
#item3 {
    text-align: center;
    font-size: 20px;
}
#item4 {
    text-align: center;
    font-size: 20px;
}
#item5 {
    text-align: center;
    font-size: 30px;

}